<h4>Event</h2>
<br />
<input type="text" name="rating" value="{{ rating }}" />
<br />
<input type="text" name="start_time" value="{{ start_time }}" />
<br />
<input type="text" name="end_time" value="{{ end_time }}" />
<div id="prior_status"></div>
<div id="location"></div>
<div id="activity"></div>
<button id="save">save</button>