{{! public/home }}

<div class="row">
  <div id="widgets" class="columns">
    <a href="{{ links.newEntry }}" class="button radius success tiny">
      <i class="fa fa-file"></i> New Entry
    </a>
  </div>
</div>