<div class="manage-widget">
  <div class="manage-header">
    <a href="#" class="left"><h4>Manage Arts</h4></a>
    <div id="{{ name }}-manage-click" class="right link">
      <h4>
        <i id="{{ name }}-manage-i-down" class="fa fa-chevron-down show"></i>
        <i id="{{ name }}-manage-i-up" class="fa fa-chevron-up hide"></i>
      </h4>
    </div>
  </div>
  <div id="{{ name }}-manage-drop" class="manage-drop hide">
    <ul>
      <li><a href="#">This is a link</a></li>
      <li><a href="#">This is another</a></li>
      <li><a href="#">Yet another</a></li>
    </ul>
  </div>
</div>