{{! entry/module/drill/edit/single }}
<h4><input type="text" name="name" value="{{ name }}" /></h4>
<br />
<input type="text" name="rating" value="{{ rating }}" />
<br />
<textarea name="details"> {{ details }}</textarea>