{{! entry/module/drill/edit/single }}
<h4><input type="text" name="{{ resource_uri }}:name" value="{{ name }}" /></h4>
<br />
<button class="remove-this">add</button>
<br />
{{> widgets/rating }}
<br />
<textarea name="{{ resource_uri }}:details"> {{ details }}</textarea>