{{! public/pages/home }}

<div class="row">
  <div class="columns">
    <a href="{{ links.newEntry }}" class="button radius success tiny">
      <i class="fa fa-file"></i> New Entry
    </a>
    <a href="{{ links.profile }}" class="button radius success tiny">
      <i class="fa fa-user"></i> Profile
    </a>
  </div>
</div>