{{! pages/home }}

<div class="row">
  <h1>HOME</h1>
  <h1>Add/manage location</h1>
  <h1>Add/manage goal</h1>
  <h1>Add/manage Art</h1>
  <h1>View questions / answer questions</h1>
  <h1>Add new entry</h1>
</div>