{{! pages/home }}

<div class="row">
  <div id="widgets" class="columns">
    <h1>HOME</h1>
    <h1>Answer questions</h1>
    <a href="{{ links.newEntry }}" class="button success"><h2>Add New Entry</h2></a>
  </div>
</div>