{{! entry/type/select/one }}
<select name="type">
<!-- <option value='' disabled style='display:none;'>Please Choose</option> -->
{{#each collection}}
  <option value="{{ resource_uri }}"{{#if selected}}selected{{/if}}>{{ name }} | {{ type }}</option>
{{/each}}
</select>