{{! entry/judo/edit/single }}
<div class="row">
  <div class="small-6 columns">
    <div class="small-12 columns">
      {{> widgets/rating }}
      <div><span id="type"></span> @ <span id="location"></span></div>
      <br />
      <input id="dtp_start" type="text" name="start" value="{{ start }}" />
      <br />
      <input id="dtp_end" type="text" name="end" value="{{ end }}" />
    </div>
    <div class="small-12 columns">
      <textarea name="pre_status"> {{ pre_status }}</textarea>
    </div>
    <div class="small-12 columns">
      <textarea name="post_status"> {{ post_status }}</textarea>
    </div>
  </div>

  <div class="small-6 columns" id="goals">
    <h3>Goals</h3>
    <ul>
      <li>Coffee</li>
      <li>Milk</li>
      <li>Coffee</li>
    </ul>
  </div>
  
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>DRILLS</h2>
    <div id="drills"></div>
  </div>
  
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>RANDORI</h2>
    <div id="sparring"></div>
  </div>
  
</div>
<div class="row">
  <div class="small-12 columns">
    <button id="save">save</button>
  </div>

</div>