{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% comment %}
{% block main_menu_left %}
  {% if user.is_authenticated %}
    <li class="hide-for-small"><a class="button radius success" href="#">Add Question</a></li>
  {% endif %}
{% endblock %}
{% endcomment %}

{% block content %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'bower/underscore/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/backbone/backbone-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/showdown/compressed/showdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'libs/handlebars.runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'libs/jquery-scrolltofixed-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'libs/html-sanitizer-minified.js' %}"></script>
  
  <script type="text/javascript" src="{% static 'bower/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	
  <script type="text/javascript" src="{% static 'bower/date.format/date.format.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/jquery-autosize/jquery.autosize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/models.js' %}"></script>
  {% block js_ %}
  {% endblock %}
{% endblock %}