<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>I have a back bone</title>
    <meta name="csrf-token" content="{{csrf_token}}">
</head>
<body>
  <script src="{% static 'libs/jquery.min.js' %}"></script>
  <script src="{% static 'libs/backbone/underscore-min.js' %}"></script>
  <script src="{% static 'libs/backbone/backbone-min.js' %}"></script>
	<div id="search_container"></div>
	<script type="text/template" id="search_template">
		<label>Search</label>
		<input type="text" id="search_input" />
		<input type="button" id="search_button" value="Search" />
	</script>

	<script type="text/javascript">
    $(function(){
      var _sync = Backbone.sync;
      Backbone.sync = function(method, model, options){
        options.beforeSend = function(xhr){
          var token = $('meta[name="csrf-token"]').attr('content');
          xhr.setRequestHeader('X-CSRFToken', token);
        };
        return _sync(method, model, options);
      };
      
      
      var LocationModel = Backbone.Model.extend({
        urlRoot: '/api/locations/',
      });
      var loc = new LocationModel({id: "1"});
      loc.fetch({
        success: function (loc) {
          console.log(loc.toJSON());
        }
      });
      var new_loc = new LocationModel();
      new_loc.save({ name: "bb location", address: "addr" }, {
        success: function (l) {
          console.log(l.toJSON());
        }
      });
    })
	</script>
</body>
</html>
