{% extends "base.html" %}
{% load static %}

{% comment %}
  Sample comment.
{% endcomment %}

{% block head %}
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'components/underscore/underscore-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/backbone/backbone-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/handlebars.runtime.js' %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'components/datetimepicker/jquery.datetimepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/date.format/date.format.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/templates.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/views.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/routes.js' %}"></script>
{% endblock %}