{% extends "base.html" %}
{% load static %}

{% comment %}
  Sample comment.
{% endcomment %}

{% block head %}
{% endblock %}

{% comment %}
{% block main_menu_left %}
  {% if user.is_authenticated %}
    <li class="hide-for-small"><a class="button radius success" href="#">Add Question</a></li>
  {% endif %}
{% endblock %}
{% endcomment %}

{% block content %}
Public page
{% endblock %}

{% comment %}
  <script type="text/javascript" src="{% static 'bower/underscore/underscore-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/backbone/backbone-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'libs/handlebars.runtime.js' %}"></script>
  
  <script type="text/javascript" src="{% static 'bower/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	
  <script type="text/javascript" src="{% static 'bower/date.format/date.format.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/jquery-autosize/jquery.autosize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/templates.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/views.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/routes.js' %}"></script>
{% endcomment %}
{% block js %}
{% endblock %}