// Make sure the charset is set appropriately
@charset "UTF-8";

/*
 * Foundation settings
 */
  @import "../components/foundation/scss/foundation/_functions";
  $base-font-size: 14px;
  $rem-base: $base-font-size;
  $topbar-bg: #0068C2;
  $topbar-title-font-size: rem-calc(26);
  $row-width: rem-calc(1400);
@import
  "../components/foundation/scss/normalize",
  "../components/foundation/scss/foundation";
  
/*
 * Component CSS
 */
@import "CSS:../components/datetimepicker/jquery.datetimepicker";

/*
 * Custom styles
 */
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}

/*
 * Widgets
 */
 // Rating
.rating label {
  display: inline-block;
  input[type=radio]{
    display: none;
  }
}
input[type=radio] + img{
  cursor: pointer;
  border: 2px solid transparent;
}
input[type=radio]:checked + img{
  border: 2px solid #f00;
}
