// Make sure the charset is set appropriately
@charset "UTF-8";

/*
 * Foundation settings
 */
@import "../bower/foundation/scss/foundation/_functions";
$primary-color: #2C8EC9;//#0068C2;
$secondary-color: #E7E7E7;
$alert-color: #F76565;
$success-color: #22BF64;

$input-include-glowing-effect: false;

$base-font-size: 14px;
$rem-base: $base-font-size;
$topbar-title-font-size: rem-calc(26);
$topbar-margin-bottom: 1rem;

$topbar-bg: $primary-color;
$topbar-link-bg: $topbar-bg;
$topbar-link-bg-hover: scale-color($topbar-link-bg, $lightness: -14%);
$topbar-link-bg-active: $topbar-link-bg;
$topbar-link-bg-active-hover: scale-color($topbar-link-bg, $lightness: -14%);
$topbar-dropdown-bg: scale-color($topbar-bg, $lightness: -28%);

$body-bg: #FFF url(/static/img/linedpaper.png) repeat;
$row-width: rem-calc(1400);


// Load Open Sans
$include-open-sans: false;
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(/static/fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(/static/fonts/Open_Sans/OpenSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(/static/fonts/Open_Sans/OpenSans-BoldItalic.ttf) format('truetype');
}

@import
  "../bower/foundation/scss/normalize",
  "../bower/foundation/scss/foundation";

  
/*
 * Component CSS / SCSS
 */
@import "CSS:../bower/jquery-ui/themes/redmond/jquery-ui.min";
@import "../bower/font-awesome/scss/font-awesome";

/*
 * Custom Foundation overrides
 */
.column, .columns {
	@include clearfix;
  position: static;
}
.row {
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}
button, .button {
  h1, h2, h3, h4, h5, h6 {
    color: $topbar-link-color;
  }
  margin-bottom: 1rem;
}
.top-bar-section {
  i {
    padding-right: 0.25em;
  }
  .left {
    li {
      background-color: $topbar-bg;
    }
  }
}

/*
 * Custom Mixins
 */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}
@mixin opacity($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}
@mixin background-transition($duration:500ms) {
	-webkit-transition: background-color $duration linear;
	-moz-transition: background-color $duration linear;
	-o-transition: background-color $duration linear;
	-ms-transition: background-color $duration linear;
}
@mixin text-ellipsis() {
  max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin round-button($diameter) {
	@include radius(($diameter / 2));
	display: inline-block;
	height: $diameter;
	text-align: center;
	width: $diameter;
	&:hover {
		@include opacity(0.75);
		cursor: pointer;
	}
	i {
		color: #FFF;
		display: inline-block;
		font-size: ($diameter * 2/3);
		padding: ($diameter * 1/6) 0;
		// Special cases for misaligned icons
		&.fa-plus {
			padding-top: ($diameter * 3/14);
			padding-bottom: ($diameter * 1/14);
		}
	}
}
@mixin save($diameter) {
	@include round-button($diameter);
	&.disabled, &.saving {
		&:hover {
			@include opacity(1);
			cursor: default;
		}
	}
	&.disabled {
		@include background-transition();
		background-color: rgba(0, 0, 0, 0.25);
		i.enabled, i.saving {
			display: none;
		}
		i.disabled {
			display: inline-block;
		}
	}
	&.enabled {
		@include background-transition();
		background-color: $success-color;
		i.disabled, i.saving {
			display: none;
		}
		i.enabled {
			display: inline-block;
		}
	}
	&.saving {
		background-color: $alert-color;
		i.enabled, i.disabled {
			display: none;
		}
		i.saving {
			display: inline-block;
		}
	}
}

/*
 * Custom settings
 */
$light-border-color: scale-color($primary-color, $lightness: 75%);
$footer-height: 2rem;
$footer-bg: $topbar-bg;
$input-padding: 0.57143rem;
$max-z-index: 9999998;
/*
 * Module colors
 */
$drill-color: #E7FEFF;//#7DBF94;
$sparring-color: #D0F0C0;//#E7CA52;
$note-color: #FFFDD0;//#DF815A;


/*
 * Custom styles
 */

*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Android = 2.3, iOS = 4 */
  -moz-box-sizing: border-box; /* Firefox 1+ */
  box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}
/*
 * Global Modal styling
 */
// Necessary specificity
#content .click-away-overlay{
	background-color: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: ($max-z-index - 1);
}
body.active-modal {
	overflow: hidden;
}

.hide {
  display: none;
}
/*
 * Sticky footer
 */
html, body {
  height: 100%;
}
#non-footer {
  min-height: 100%;
  position: relative;
}
* html #non-footer {
  height: 100%;
}
#page-container {
  padding-bottom: $footer-height + $topbar-margin-bottom;
}
footer {
  background-color: $footer-bg;
  height: $footer-height;
  margin-top: (-$footer-height);
  position: relative;
  text-align: center;
  div {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

/*******************************************************************************
 *
 * Entry
 *
 ******************************************************************************/
.entry {
  .entry-header {
    div {
      display: inline-block;
      max-width: 100%;
    }
		h3 {
			margin-bottom: 0;
		}
    .plaintext,
    .headertext {
      @include text-ellipsis();
      margin-right: 0.5em;
    }
    .plaintext {
      border-bottom: 1px dashed transparent;
    }
    .headertext {
      display: inline-block;
    }
  }
  // Modals
  .modal-wrapper {
    display: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: ($max-z-index - 2);
    &.modal-centered {
      text-align: center;
      .modal {
        background: none;
        display: inline-block;
        & > div {
          padding: 0;
        }
      }
    }
    .modal {
      background-color: #FFF;
      bottom: auto;
      display: block;
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding: 0;
      position: relative;
      z-index: $max-z-index;
      & > div {
        padding: 1rem;
      }
    }
  }
  // Module List
  $module-section-header-height: 3rem;
  .module-section {
    .section-header {
      .title {
        font-size: ($module-section-header-height * 5/6);
        padding-left: 1rem;
      }
    }
    .model-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .model-entry {
        margin-top: 0.5rem;
        padding: 0;
        &.has-body {
          padding-top: 1.5rem;
          padding-left: 0.5rem;
          position: relative;
          .model-header {
            top: 0;
            left: 0;
            position: absolute;
          }
        }
        .model-header {
          @include radius(0.25rem);
          background-color: #FFF;
          border: 1px solid $light-border-color;
          display: inline-block;
          padding: 0.25rem;
          .model-title {
            @include text-ellipsis();
            overflow: hidden;
            padding: 0.25rem;
          }
        }
        .model-body {
          background-color: #FFF;
          border: 1px dashed $light-border-color;
          padding: 1rem;
          padding-top: 1.5rem;
        }
      }
    }
    &.drill {
      .model-list {
        .model-entry {
          .model-header {
            background-color: $drill-color;
          }
        }
      }
    }
    &.sparring {
      .model-list {
        .model-entry {
          .model-header {
            background-color: $sparring-color;
          }
        }
      }
    }
    &.note {
      .model-list {
        .model-entry {
          .model-header {
            background-color: $note-color;
          }
        }
      }
    }
  }
  .rating {
    img{
      @include opacity(0.7);
      width: 3rem;
    }
  }
  /*
   * View
   */
  &.public {
    #entry-rating {
      display: inline-block;
      float: left;
    }
  }
  /*
   * Edit
   */
  &.private {
    #entry-rating {
      display: block;
      overflow: hidden;
      margin-top: 1rem;
    }
    .entry-save {
      @include save(5rem);
      float: right;
      margin-left: 1rem;
    }

    .entry-header {
      .edit-link {
        border-bottom: 1px dashed $topbar-bg;
        color: $anchor-font-color;
        margin-bottom: 1px;
        &:hover {
          @include opacity(0.75);
          cursor: pointer;
        }
        i {
          color: $body-font-color;
          &:not(.fa) {
            font-weight: bold;
          }
        }
      }
    }

    /*
     * Select widget
     */
    .single-select {
      .select-input {
        display: none;
      }
      .select-display {
        .edit-link {
          &.placeholder {
            color: #E81010;
            font-style: italic
          }
        }
      }
      .select-drop {
        background-color: #FFF;
        display: none;
        left: 0.5rem;
        position: absolute;
        right: 0.5rem;
        z-index: $max-z-index;
        .select-search {
          display: block;
          margin: 0.5em;
          position: relative;
          input {
            margin: 0;
            padding: $input-padding;
            width: 100%;
          }
          i {
            color: $light-border-color;
            padding: ($input-padding / 2);
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        ul.select-options {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            border-top: 1px solid #CCCCC6;
            padding: 1em;
            &.option-selected {
              background: green;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .select-create {
          display: none;
          margin: 0.5em;
        }
      }
    }
    // Modals
    .modal-wrapper {
      .modal {
        .modal-header {
          display: block;
          overflow: hidden;
          h3 {
            @include text-ellipsis();
          }
        }
        .modal-save {
          @include save(5rem);
          float: right;
          margin-left: 1rem;
          margin-bottom: 1rem;
        }
        .close-modal {
          text-transform: uppercase;
        }
      }
    }
    // Module List
    .module-section {
      .section-header {
        .add-model {
          @include round-button($module-section-header-height);
          background-color: $success-color;
        }
      }
      .model-list {
        .model-entry {
          .model-header {
            display: block;
            width: 100%;
            .buttons {
              float: right;
              margin-left: 1rem;
              button {
                margin: 0 0.25rem 0 0;
                padding: 0.5rem;
                text-transform: uppercase;
                &.delete-model {
                  @include opacity(0.75);
                }
              }
            }
          }
        }
      }
    }
    
    /*
     * Edit Widgets
     */
     // Rating
    .rating {
      display: inline-block;
      label {
        display: inline-block;
        input[type=radio]{
          display: none;
        }
        input[type=radio] + img{
          @include opacity(0.25);
          &:hover {
            @include opacity(0.5);
            cursor: pointer;
          }
        }
        input[type=radio]:checked + img{
          @include opacity(0.7);
        }
      }
    }

    /*
     * Time select
     */
    .time-select {
      select {
        @include radius();
        background-color: #FFF;
        font-size: 3rem;
        margin: 0;
        width: auto;
      }
    }
  }
}


/*
 * Forms (e.g. login)
 */
.single-page-form {
  margin-top: 1rem;
}
.errorlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    background-color: $alert-color;
    border: 1px solid scale-color($alert-color, $lightness: 14%);
    padding: 0.5rem 1rem;
  }
}
