{{! models/entry/module/drill/edit/list }}
<div class="list-controls">
	<div class="row modal-wrapper">
		<div class="click-away-overlay"></div>
		<div class="small-centered small-10 medium-8 large-6 columns modal"></div>
	</div>
	<button class="add-model">add</button>
</div>
<ul class="model-list">
	{{#each models}}
		<li>
			<div id="{{ cid }}-buttons" class="buttons">
				<button class="tiny success radius edit-model">edit <i class="fa fa-pencil"></i ></button>
				<button class="tiny alert radius delete-model">remove</button>
			</div>
			<div class="not-buttons">
				{{> models/entry/module/drill/view/brief }}
			</div>
		</li>
	{{/each}}
</ul>