{{! entry/module/drill/edit/single }}
<h4><input type="text" name="{{ cid }}:name" value="{{ name }}" /></h4>
<br />
<button class="remove-this">remove</button>
<br />
{{> widgets/rating }}
<br />
<textarea name="{{ cid }}:details"> {{ details }}</textarea>