{{! models/location/edit/single }}
<h4>location</h2>
<input type="text" name="name" placeholder="Name" value="{{ name }}"  />
<br />
<input type="text" name="url" placeholder="Website" value="{{ url }}" />