{{! models/art/select/one }}
<select name="{{ cid }}:type">
<!-- <option value='' disabled style='display:none;'>Please Choose</option> -->
{{#each collection}}
  <option value="{{ resource_uri }}"{{#if selected}}selected{{/if}}>{{ name }}</option>
{{/each}}
</select>