{{! private/entry/module/note/list }}
<div class="module-section note">
  <div class="section-header">
    <div class="buttons">
      <button class="tiny secondary radius add-model">add <i class="fa fa-plus"></i></button>
    </div>
    <h3 class="list-title">Notes</h3>
  </div>
  <ul class="model-list row">
  </ul>
</div>